vti_encoding:SR|utf8-nl
https\://github.com/spacevini8:pages/socials.htm pages/projects.htm
https\://github.com/spacevini8/bober-generator:pages/projects.htm
https\://github.com/spacevini8/finnish-roulette:pages/projects.htm
https\://github.com/spacevini8/class-seat-picker:pages/projects.htm
http\://www.microsoft.com/frontpage/:pages/socials.htm blog/blog_04-05-24.htm pages/projects.htm default.htm pages/blog_directory.htm pages/about.htm
https\://www.youtube.com/@spacevini8:pages/socials.htm
https\://steamcommunity.com/id/spacevini:pages/socials.htm
